# Config file for an example Majora's Mask: Recompiled mod.

# Fields that end up in the mod's manifest.
[manifest]

# Unique ID of this mod. Pick something long enough that it'll never be the same as any other mod.
# The name displayed in the mod management menu is separate from this so this doesn't need to be human readable.
id = "mm_recomp_fancy_jumps"

# Version of this mod.
version = "0.1.0"

# The name that will show up for this mod in the mod menu. This should be human readable.
display_name = "Fancy Jumps"

# The description that will show up when this mod is displayed in the mod menu. This should be human readable.
description =  """
This is a mod for Majora's Mask: Recompiled that allows Link's extra jumping animations to be used more frequently.

For more details, see https://github.com/Neirn/MMRecomp_FancyJumps"""

# A short description that will show up in this mod's entry in the mod list. This should be human readable and kept short
# to prevent it from being cut off due to the limited space.
short_description = "Use Link's extra jumping animations in more places."

# Authors of this mod.
authors = [ "Neirn" ]

# ID of the target recomp game.
game_id = "mm"

# Minimum version of the target recomp (e.g. Zelda 64: Recompiled) that this mod can run on.
minimum_recomp_version = "1.2.0"

# Dependency mods. Each entry is the mod's ID and then an optional minimum version of the dependency mod.
dependencies = [
# Example dependency:
#    "modname:1.0.0"
]

# Native libraries (e.g. DLLs) and the functions they export.
native_libraries = [
# Example native library:
#    { name = "my_native_library", funcs = ["my_native_library_function"] }
]

# Inputs to the mod tool.
[inputs]

# Input elf file to generate a mod from.
elf_path = "build/mod.elf"

# Output mod filename.
mod_filename = "mm_recomp_fancy_jumps"

# Reference symbol files.
func_reference_syms_file = "Zelda64RecompSyms/mm.us.rev1.syms.toml"
data_reference_syms_files = [ "Zelda64RecompSyms/mm.us.rev1.datasyms.toml", "Zelda64RecompSyms/mm.us.rev1.datasyms_static.toml" ]

# Additional files to include in the mod.
additional_files = [ "thumb.png" ]

[[manifest.config_options]]
id = "jump_selection_method"
name = "Jump Selection Method"
description = """\
Vanilla: Use default game behavior

Cycle: Cycle jump animation in the order Normal -> Roll -> Somersault

Random: Choose a jumping animation at random

Disabled: Disable fancy jumping entirely"""
type = "Enum"
options = [ "Vanilla", "Cycle", "Random", "Disabled" ]
default = "Cycle"

[[manifest.config_options]]
id = "allow_roll_after_fancy_jump"
name = "Allow Roll"
description = """\
On: Allow Link to roll out of a roll jump or side flip.

Off: Link can only roll out of his normal jump. (Vanilla behavior)"""
type = "Enum"
options = [ "On", "Off" ]
default = "Off"
